body{
    background-color:turquoise;
}

h1{
    font-family: sans-serif;
    font-family: cursive;
    font-size: 35px;
    margin-top:20px;
    text-align: center;
    text-shadow: 20px;
}

h2{
    background-color: aquamarine;
    color:darkblue;
    font-size: 25px;
    font-style: italic;
    padding-top:30px;
    text-align: center;
}

ul{
    color:blue;
    list-style-type:upper-roman;
    margin:25px 20px 30px 20px;
    text-align: left;
}

footer{
    background-color: aquamarine;
    font-family:cursive;
    padding-top:30px;
    text-align: center;
}
    